# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
golang-fundamentals

# Test & coverage
*.test
*.out
coverage.*

# Go workspace
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
